app = 'ws-gateway'
primary_region = 'sin'

[build]
  dockerfile = "Dockerfile"  # ✅ Sửa thành tên file, không cần path dài dòng

[http_service]
  internal_port = 3006
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1