app = 'system-service' 
primary_region = 'sin'

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  TRANSPORT = "0"
  HOST = "0.0.0.0"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1